# Node
node_modules/
.next/
out/
dist/
.turbo/

# Env — NUNCA commitar
.env
.env.local
.env.production
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Docker volumes / dados locais
infra/volumes/
infra/backups/

# Vercel
.vercel
